[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1;
}
img {
    width: 100%;
}
.container {
    max-width: 85.71428571rem;
    width: auto;
    padding-left: 1.07142857rem;
    padding-right: 1.07142857rem;
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding-left: 0.71428571rem;
        padding-right: 0.71428571rem;
    }
}
.container .row {
    margin-right: -1.07142857rem;
    margin-left: -1.07142857rem;
}
@media (max-width: 767px) {
    .container .row {
        margin-right: -0.71428571rem;
        margin-left: -0.71428571rem;
    }
}
.container [class^="col-"],
.container [class*=" col-"] {
    padding-right: 1.07142857rem;
    padding-left: 1.07142857rem;
}
@media (max-width: 767px) {
    .container [class^="col-"],
    .container [class*=" col-"] {
        padding-right: 0.71428571rem;
        padding-left: 0.71428571rem;
    }
}
.container-fluid {
    padding-left: 1.07142857rem;
    padding-right: 1.07142857rem;
}
@media (max-width: 767px) {
    .container-fluid {
        padding-right: 0.71428571rem;
        padding-left: 0.71428571rem;
    }
}
.inlineblock-top:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.inlineblock-top > * {
    display: inline-block;
    vertical-align: top;
}
.inlineblock-middle:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.inlineblock-middle > * {
    display: inline-block;
    vertical-align: middle;
}
.table-middle {
    display: table;
    width: 100%;
}
.table-middle > * {
    display: table-cell;
    vertical-align: middle;
}
.position-middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/roboto-regular/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype'), url('../fonts/roboto-regular/roboto-regular.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/roboto-bold/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold/roboto-bold.svg#roboto-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light/roboto-light.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/roboto-light/roboto-light.woff') format('woff'), url('../fonts/roboto-light/roboto-light.ttf') format('truetype'), url('../fonts/roboto-light/roboto-light.svg#roboto-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebasneue-regular';
    src: url('../fonts/bebasneue-regular/bebasneue-regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/bebasneue-regular/bebasneue-regular.woff') format('woff'), url('../fonts/bebasneue-regular/bebasneue-regular.ttf') format('truetype'), url('../fonts/bebasneue-regular/bebasneue-regular.svg#bebasneue-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebasneue-bold';
    src: url('../fonts/bebasneue-bold/bebasneue-bold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/bebasneue-bold/bebasneue-bold.woff') format('woff'), url('../fonts/bebasneue-bold/bebasneue-bold.ttf') format('truetype'), url('../fonts/bebasneue-bold/bebasneue-bold.svg#bebasneue-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'anton-regular';
    src: url('../fonts/anton-regular/anton-regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/anton-regular/anton-regular.woff') format('woff'), url('../fonts/anton-regular/anton-regular.ttf') format('truetype'), url('../fonts/anton-regular/anton-regular.svg#anton-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yellowcab';
    src: url('../fonts/icon-yellowcab/yellowcab.eot');
    src: url('../fonts/icon-yellowcab/yellowcab.eot#iefix') format('embedded-opentype'), url('../fonts/icon-yellowcab/yellowcab.woff') format('woff'), url('../fonts/icon-yellowcab/yellowcab.svg#yellowcab') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'yellowcab' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-dot:before {
    content: "\e93f";
}
.icon-phone-speaker:before {
    content: "\e940";
}
.icon-alfalfa:before {
    content: "\e91b";
}
.icon-arugulla:before {
    content: "\e91c";
}
.icon-bacon:before {
    content: "\e91d";
}
.icon-bacon-sliced:before {
    content: "\e91e";
}
.icon-button-mushroom:before {
    content: "\e92b";
}
.icon-capers:before {
    content: "\e92c";
}
.icon-cream-cheese:before {
    content: "\e92d";
}
.icon-green-bell-pepper:before {
    content: "\e92e";
}
.icon-ground_beef:before {
    content: "\e92f";
}
.icon-icon-ham:before {
    content: "\e930";
}
.icon-italian-sausage:before {
    content: "\e931";
}
.icon-mozzarella:before {
    content: "\e932";
}
.icon-mussels:before {
    content: "\e933";
}
.icon-olives:before {
    content: "\e934";
}
.icon-onion:before {
    content: "\e935";
}
.icon-pepperoni:before {
    content: "\e936";
}
.icon-pineapple:before {
    content: "\e937";
}
.icon-red-apple:before {
    content: "\e938";
}
.icon-red-onion:before {
    content: "\e939";
}
.icon-roasted-garlic:before {
    content: "\e93a";
}
.icon-salami:before {
    content: "\e93b";
}
.icon-shrimp:before {
    content: "\e93c";
}
.icon-squid-rings:before {
    content: "\e93d";
}
.icon-tomato:before {
    content: "\e93e";
}
.icon-triangle:before {
    content: "\e92a";
}
.icon-play:before {
    content: "\e914";
}
.icon-appertizer:before {
    content: "\e91f";
}
.icon-chicken:before {
    content: "\e920";
}
.icon-combo:before {
    content: "\e921";
}
.icon-drink:before {
    content: "\e922";
}
.icon-pasta:before {
    content: "\e923";
}
.icon-pie-slide:before {
    content: "\e924";
}
.icon-pizza:before {
    content: "\e925";
}
.icon-retangle-slide:before {
    content: "\e926";
}
.icon-add-card:before {
    content: "\e900";
}
.icon-address:before {
    content: "\e901";
}
.icon-alert:before {
    content: "\e902";
}
.icon-arrow-dropdown:before {
    content: "\e903";
}
.icon-back:before {
    content: "\e904";
}
.icon-cancel:before {
    content: "\e905";
}
.icon-cancel-2:before {
    content: "\e906";
}
.icon-cart:before {
    content: "\e907";
}
.icon-check:before {
    content: "\e908";
}
.icon-check_2:before {
    content: "\e909";
}
.icon-delivery:before {
    content: "\e90a";
}
.icon-edit:before {
    content: "\e90b";
}
.icon-facebook:before {
    content: "\e90c";
}
.icon-gmail:before {
    content: "\e90d";
}
.icon-history:before {
    content: "\e90e";
}
.icon-logout:before {
    content: "\e90f";
}
.icon-minus:before {
    content: "\e910";
}
.icon-next:before {
    content: "\e911";
}
.icon-down:before {
    content: "\e928";
}
.icon-up:before {
    content: "\e929";
}
.icon-pre:before {
    content: "\e927";
}
.icon-phone:before {
    content: "\e912";
}
.icon-pickup:before {
    content: "\e913";
}
.icon-plus:before {
    content: "\e915";
}
.icon-sector:before {
    content: "\e916";
}
.icon-slide:before {
    content: "\e917";
}
.icon-twitter:before {
    content: "\e918";
}
.icon-user:before {
    content: "\e919";
}
.icon-youtube:before {
    content: "\e91a";
}
html {
    font-size: 0.972222vw;
}
@media (max-width: 767px) {
    html {
        font-size: 4.375vw;
    }
}
@media (min-width: 1440px) {
    html {
        font-size: 14px;
    }
}
html .ps > .ps__rail-x {
    display: none;
}
html .ps > .ps__rail-y {
    opacity: 0.6;
    display: block;
    right: 0;
    left: none !important;
}
html .modal-open .modal {
    overflow: hidden;
    max-height: 100%;
}
html body {
    font-family: "roboto-regular";
    line-height: 1.5;
    color: #fff;
    font-weight: normal;
    background-color: #000;
    overflow-x: hidden;
}
@media (max-width: 320px) {
    html body .form-control {
        font-size: 1.14285714rem !important;
    }
}
html body > img {
    display: none;
}
html body .gform_wrapper .validation_error {
    display: none;
}
html body .gform_wrapper.gf_browser_ie .gform_footer input.button {
    padding: 1.07142857rem 0.71428571rem;
}

html body header{
    background-color: #000;
    width: 100%;
    z-index: 20;
    top: -100%;
    transition: top 0.1s ease-out;
}

.container-fluid{
    padding-left: 1.07142857rem;
    padding-right: 1.07142857rem;
}
html body header .navbar{
    padding: 0 1.07142857rem;
}
html body header .navbar .navbar-brand{
    padding-top: 0.92857143rem;
    padding-bottom: 1.21428571rem;
    width: 7.42857143rem;
    position: absolute;
    top: 0;
}

html body header .navbar .free-delivery{
    display: inline-block;
    width: 14.57142857rem;
    font-family: "roboto-bold";
    font-size: 0.71428571rem;
    left: 10rem;
    position: absolute;
}
html body header .navbar .navbar-toggler{
    width: 3.35714286rem;
    margin: 0.35714286rem 0 1rem;
    padding-left: 0.85714286rem;
    padding-right: 0.85714286rem;
}
html body header .navbar .navbar-collapse{
    height: 5.71428571rem;
    font-family: "roboto-bold";
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
html body header .navbar .navbar-collapse .navbar-nav{
    margin: 0 auto;
    height: 100%;
    padding: 1.42857143rem 0;
}
.mobile-item{
    display: none !important;
}
html body header .navbar .navbar-collapse .custom-header-item{
    right: 10rem;
}
html body header .language-chooser{
    border: none;
    margin-bottom: 0;
    padding: 0;
}
html body header .language-chooser .language-chooser-item{
    list-style: none;
}
html body header .language-chooser .language-chooser-item a{
    margin-right: 2.14285714rem;
    height: 3.14285714rem;
    color: #000;
    text-decoration: none;
    font-family: "roboto-regular";
    align-items: center !important;
    display: flex !important;
}
html body header .navbar .navbar-collapse .navbar-nav{
    margin: 0 auto;
    height: 100%;
    padding: 1.42857143rem 0;
}
html body header .navbar .navbar-collapse .navbar-nav .nav-item{
    height: 100%;
}
html body header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    padding: 0 1.42857143rem;
}
html body header .navbar .custom-header-item{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 1.07142857rem 0;
}
html body header .navbar .custom-header-item .click-your-account{
  width: 30px;
  height: 30px;
  margin: 0 1rem 0 2rem;
}
html body header .navbar .custom-header-item .cart-item{
    background: transparent;
    border: none;
    padding-right: 0;
    color: #fff;
    width: 11.42857143rem;
}
html body header .navbar .custom-header-item .cart-item span{
    color: #faa624;
    font-size: 1.71428571rem;
    margin-right: 0.71428571rem;
}
html body header .navbar .custom-header-item .cart-item a{
    display: flex;
    align-items: center;
}
html body header .navbar .custom-header-item .cart-item .quantity-product{
    margin-left: 0.21428571rem;
    font-size: 1.14285714rem;
}
html body .available{
    color: #faa624 !important;
}
html body header .your-cart{
    position: absolute;
    top: 5.64285714rem;
    right: 0.21428571rem;
    z-index: 111;
    width: 23rem;
    box-shadow: 0 0.71428571rem 1.42857143rem 0 rgba(20, 20, 20, 0.8);
    padding: 1.35714286rem 0 0;
    background-color: #fff;
    border-radius: 0.28571429rem;
    color: #000;
}
html body header .your-cart .your-cart-title{
    font-family: "roboto-bold";
    font-size: 1.14285714rem;
    padding: 0 1.5rem 0 1.64285714rem;
    margin-bottom: 0.35714286rem;
}
html body header .your-cart .your-cart-list{
    max-height: 50vh;
    overflow: auto;
}
html body header .your-cart .discount{
    margin: 0.71428571rem 0 0.57142857rem;
    padding: 0 1.57142857rem;
}
html body header .your-cart .total-item{
    margin: 0.42857143rem 0 0.35714286rem;
    padding: 0 1.57142857rem;
    background-color: #dfdfd9;
}
html body header .your-cart .total-item .total-price{
    font-family: "roboto-bold";
    font-size: 1.14285714rem;
    padding: 0.71428571rem 0 0.42857143rem;
}
html body header .your-cart .btn{
    padding: 0.78571429rem 0.71428571rem;
    width: 100%;
}

html body header .free-delivery-mobile{
    display: none;
    font-family: "roboto-bold";
    font-size: 0.85714286rem;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0.64285714rem;
    padding-left: 0.85714286rem;
    padding-right: 3.21428571rem;
    margin: 0;
}
html body header .free-delivery-mobile .close{
    opacity: 1;
    font-size: 1rem;
    height: 100%;
    padding-right: 1.07142857rem;
    padding-left: 1.07142857rem;
}
html body header .free-delivery-mobile .close span{
    display: inline-block;
    margin-bottom: 0.64285714rem;
}
html body .overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 500;
}
html body .display-none{
    display: none;
}

.list-product h4{
    margin: 1rem 0;
}
.section-product {
  background-image: url('../images/bg-custom-pizza.jpg');
}
.section-product .owl-stage{
  margin: auto;
}
.block-title{
  background-image: url(../images/board-title.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-width: 14.28571429rem;
  height: 4.35714286rem;
  margin: 30px auto;
  font-size: 2.28571429rem;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  padding: 0.78571429rem 0.71428571rem;
  text-transform: uppercase;
  display: table;
}
.section-menu-list ul.menu-list{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: table;
  width: 100%;
}
.section-menu-list{
  background-color: #000;
  padding: 0 2.14285714rem;
  height: 7.14285714rem;
  position: relative;
}
.section-menu-list ul.menu-list li{
  display: table-cell;
  vertical-align: middle;
}
.section-menu-list ul.menu-list li .img-item{
}
.section-menu-list ul.menu-list li a{
  height: 7.14285714rem;
  color: #fff;
  text-decoration: none;
  padding: 1.42857143rem 0;
}
.section-menu-list ul.menu-list li a:hover{
  border-bottom: 2px solid #faa624 !important;
  color: #faa624 !important;
  background-color: transparent !important;
}
.section-menu-list ul.menu-list li .title{
  font-size: 28px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: bold;
}
.active-menu{
  border-bottom: 2px solid #faa624 !important;
  color: #faa624 !important;
  background-color: transparent !important;
}
.section-size-list{
  width: 100%;
}
.section-size-list ul.size-price-list{
  margin-bottom: 3.57142857rem;
  padding: 0;
  list-style: none;
}
.section-size-list ul.size-price-list li{
  min-width: 20%;
  color: #fff;
  font-size: 18px;
}
.section-size-list ul.size-price-list li .desc-item{
  font-size: 16px;
}

.list-product a {
  color: #FFFFFF;
  text-decoration: none;
}
.list-product a:hover, .list-product a:visited, .list-product a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

.modal.modal-select-combo .modal-dialog{
    max-width: 69.21428571rem;
    height: 100% !important;
}
.modal .modal-content{
    background-image: url('../images/bg-custom-modal.png');
    min-height: 25rem;
    background-size: cover;
    max-height: 100%;
    overflow: hidden;
    padding: 2.14285714rem 2.64285714rem 0 1.42857143rem;
    height: 100% !important;
}
.modal.modal-select-combo .modal-dialog .modal-content{
    overflow: scroll;
    padding: 2.14285714rem 2.64285714rem 0 1.42857143rem;
    height: 100% !important;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .img-item{
    position: absolute;
    width: 16.42857143rem;
    top: 0;
    left: 0;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body{
    padding: 0 8.92857143rem 0 20rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .title:before{
    content: '';
    position: absolute;
    width: 0.28571429rem;
    height: 2.14285714rem;
    top: 0.53571429rem;
    left: 0;
    background-color: #faa624;
    background-size: 100%;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .title{
    font-family: "bebasneue-bold";
    font-size: 2.57142857rem;
    line-height: 1.25;
    position: relative;
    padding-left: 0.71428571rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.42857143rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(250, 166, 36, 0.3);
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item{
    margin-bottom: 1.42857143rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .small-title:before{
    content: "\e93f";
    color: #faa624;
    border: none;
    font-family: 'yellowcab' !important;
    font-size: 0.42857143rem;
    top: 50%;
    margin-top: -0.28571429rem;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .small-title{
    font-size: 1.14285714rem;
    font-family: "roboto-bold";
    line-height: 1.5;
    color: #faa624;
    position: relative;
    padding-left: 0.71428571rem;
    text-transform: uppercase;
    margin-bottom: 0.35714286rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .product-info{
    padding-left: 0.71428571rem;
    margin-bottom: 0.35714286rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .product-info p {
    line-height: 1.5;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body select.selectpicker{
    padding: 1.14285714rem 3.21428571rem 1rem 0.85714286rem;
    font-size: 1.14285714rem;
    font-family: "roboto-regular";
    border-radius: 0.42857143rem;
    border: solid 1px #faa624;
    background: transparent;
    color: #fff;
    height: 3.57142857rem;
    line-height: 1;
    width: 100%;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body select.selectpicker option{
    color: #000;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on{
    background-color: rgba(216, 216, 216, 0.1);
    border-radius: 0.28571429rem;
    margin-top: 1.78571429rem;
    padding: 0.78571429rem 0 1.07142857rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on-desc{
    font-size: 0.85714286rem;
    padding: 0 0.78571429rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on ul li{
    float: left;
    width: 33.33%;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on ul li .option-item .img-item{
    width: 7rem;
    margin: 0 auto;
    position: relative;
    min-height: 8rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .checkbox3 .checkmark{
    top: 50%;
    /*margin-top: -0.71428571rem;*/
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on ul li .option-item .img-item .checkbox3{
    position: absolute;
    top: 1.14285714rem;
    left: -2.07142857143rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on ul li .option-item .img-item .checkbox3 input{
    height: 1.71428571rem;
    width: 1.71428571rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-body .item .value-add-on-name{
    font-size: 1rem;
    color: #faa624;
    font-family: "roboto-bold";
    margin-bottom: 0.14285714rem;
    padding: 0 0.78571429rem;
    height: 3rem;
    text-align: center;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer{
    padding: 0.71428571rem 8.92857143rem 2.85714286rem 20rem;
    border-top: none;
    display: block;
}
.modal.modal-select-combo .modal-dialog .modal-content .total-item{
    font-size: 1.14285714rem;
    color: #faa624;
    font-family: "roboto-bold";
    padding: 0.64285714rem 1.14285714rem 0.5rem 1rem;
    border-radius: 0.28571429rem;
    background-color: rgba(216, 216, 216, 0.15);
    margin-bottom: 1.42857143rem;
    display: table;
    width: 100%;
}
.modal.modal-select-combo .modal-dialog .modal-content .total-item > *{
    display: table-cell;
    vertical-align: middle;
}
.modal.modal-select-combo .modal-dialog .modal-content .total-item .total-price{
    font-family: "bebasneue-bold";
    font-size: 2.57142857rem;
    line-height: 1.25;
    color: #fff;
    text-align: right;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer > :not(:first-child){
    margin-left: 0;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .quantity-title{
    color: #a9aaad;
    margin-bottom: 0.21428571rem;
    text-transform: uppercase;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .quantity-icon{
    border-radius: 0.28571429rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    width: 3.14285714rem;
    height: 3.14285714rem;
    cursor: pointer;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .quantity-icon span{
    font-size: 1.42857143rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .quantity-number{
    margin: 0 0.85714286rem;
    font-family: "roboto-bold";
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .quantity-icon.active{
    background-color: #fff;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .btn{
    width: 25rem;
    padding: 0.78571429rem 0.71428571rem;
    height: 3.14285714rem;
}
.btn{
    border-radius: 0.28571429rem;
    font-family: "roboto-bold";
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 1.07142857rem 0.71428571rem 1.07142857rem;
}
.btn.btn-yellow{
    border: none;
    background-color: #faa624;
    color: #000000;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .btn span{
    font-size: 1.71428571rem;
    margin-right: 1.42857143rem;
}
.modal.modal-select-combo .modal-dialog .modal-content .modal-footer .btn{
    width: 25rem;
    padding: 0.78571429rem 0.71428571rem;
    height: 3.14285714rem;
}
header .your-cart .your-cart-list .your-cart-item{
  padding: 0.71428571rem 1.5rem 0.71428571rem 1.64285714rem;
  border-bottom: 1px dashed #979797;
}
header .your-cart .your-cart-list .your-cart-item .cart-item-product-info .img-item{
  height: 4rem;
  margin-right: 0.78571429rem;
  width: 4rem;
}
header .your-cart .your-cart-list .your-cart-item .cart-item-product-info p{
  padding-bottom: 0;
  font-size: 0.85714286rem;
  line-height: 1.5;
  color: #a9aaad;
}
header .your-cart .your-cart-list .your-cart-item .icon-custom{
    font-size: 1.71428571rem;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    margin-top: 0.57142857rem;
}
header .your-cart .your-cart-list .your-cart-item .quantity-item{
    margin-top: 0.28571429rem;
}
header .your-cart .your-cart-list .your-cart-item .quantity-item .icon-custom{
    color: rgba(0, 0, 0, 0.2);
    margin-top: 0;
}
header .your-cart .your-cart-list .your-cart-item .quantity-item b{
    font-size: 1.14285714rem;
    margin: 0 0.5rem;
}
html body .available{
    color: #faa624 !important;
}
header .your-cart .your-cart-list .your-cart-item .price-item{
    font-family: "roboto-bold";
    margin-top: 0.28571429rem;
}
header .your-cart .your-cart-list .your-cart-item{
    padding: 0.71428571rem 1.5rem 0.71428571rem 1.64285714rem;
    border-bottom: 1px dashed #979797;
}
html body .position-top {
    padding-right: inherit;
    position: fixed;
    top: 0;
}
html body .position-top + .section-product {
    margin-top: 5.71428571rem;
}
@media (max-width: 767px) {
    html body .position-top + .section-product {
        margin-top: 4.28571429rem;
    }
}
html body .margin-top-104 {
    margin-top: 7.42857143rem !important;
}
.user_card {
    height: 32.1428571429rem;
    width: 25rem;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #000 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #000 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #000 !important;
}
.h-100{
    height: 80vh !important;
}
.user_card a{
    color: #000;
}
.modal.modal-normal.modal-select-order-type .modal-content{
    padding: 9.35714286rem 0 7.14285714rem;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body{
    padding: 0 8.85714286rem;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .title{
    font-family: "roboto-bold";
    font-size: 2.28571429rem;
    line-height: 1.25;
    margin-bottom: 5.5rem;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .order-type-list{
    display: flex;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .order-type-list .order-type-item{
    padding: 1.57142857rem 2.14285714rem 3.35714286rem;
    border-radius: 0.28571429rem;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: #faa624;
    width: 50%;
    margin: 0 3.21428571rem;
    color: #000;
    cursor: pointer;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .order-type-list .order-type-item > span{
    font-size: 6.42857143rem;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .order-type-list .order-type-item .order-type-name{
    font-family: "bebasneue-bold";
    font-size: 2.71428571rem;
    line-height: 1.18;
    padding-top: 1.85714286rem;
    margin: 1.71428571rem 0 1.35714286rem;
    position: relative;
}
.modal.modal-normal.modal-select-order-type .modal-content .modal-body .order-type-list .order-type-item .order-type-desc{
    padding: 0 1.71428571rem;
}
.modal.modal-normal .modal-dialog{
    max-width: 69.28571429rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content{
    padding: 3.14285714rem 0 2.14285714rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body{
    padding: 0 12.14285714rem 1.42857143rem 12.14285714rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .block-title{
    margin-bottom: 0.85714286rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs{
    margin-bottom: 2.42857143rem;
    border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item{
  width: 50%;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link{
  position: relative;
  padding-top: 1.14285714rem;
  padding-bottom: 1rem;
  border: none;
  color: #fff;
  text-decoration: none;
  margin: auto;
  padding-left: 2.35714285714rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link:last-child{
    padding-left: 5.71428571rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0.92857143rem;
    left: 0;
    width: 1.71428571rem;
    height: 1.71428571rem;
    background: transparent;
    border: solid 2px #979797;
    border-radius: 50%;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link.active{
  background-color: transparent;
  border: none;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link.active::before{
    background: #faa624;
    background-size: 100%;
    /*border: none;*/
    border-radius: 50%;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .nav-tabs .nav-item.nav-link:last-child::before{
    left: 3.14285714rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-time{
    margin-bottom: 2.14285714rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-title{
    font-family: "roboto-bold";
    font-size: 1.14285714rem;
    color: #faa624;
    margin-bottom: 0.85714286rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-selectpicker .btn-group.bootstrap-select{
    width: 100%;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-selectpicker select{
    background: transparent;
    border: solid 1px #faa624;
    border-radius: 0.42857143rem;
    color: #fff;
    font-family: "roboto-regular";
    font-size: 1.14285714rem;
    height: 3.57142857rem;
    line-height: 1;
    padding: 1.14285714rem 3.21428571rem 1rem 1.07142857rem;
    position: relative;
    text-align: left;
    width: 100%;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-selectpicker .btn .filter-option{
    line-height: 1.2;
}
.modal.modal-normal .modal-dialog .modal-content .modal-body .title-item{
    line-height: 1.71;
    opacity: 0.5;
    font-family: "roboto-light";
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-info .form-group .form-control.name-item{
    background: url(../images/user.svg) center no-repeat;
    background-size: 1.85714286rem 1.57142857rem;
    background-position: top right;
    padding-right: 2.85714286rem;
    color: #fff;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .ul-custom > div{
    float: left;
    width: 21.42857143rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-info .form-group{
    margin-bottom: 1.5rem;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .ul-custom > div:nth-child(even){
    float: right;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-info .form-group .title-item{
    margin-bottom: 1px;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-info .form-group .form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(250, 166, 36, 0.3);
    height: 2.14285714rem;
    padding: 0 0 0.35714286rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-info .form-group .form-control.phone-item {
    background: url('../images/phone.svg') center no-repeat;
    background-size: 1.85714286rem 1.57142857rem;
    background-position: top right;
    padding-right: 2.85714286rem;
    color: #fff;
}
.modal.modal-normal .modal-dialog .modal-content .modal-body .btn-yellow{
    font-size: 1.28571429rem;
    width: 21.42857143rem;
    margin-bottom: 1.57142857rem;
    color: #000;
    box-shadow: 0 0.35714286rem 1.42857143rem 0 #000;
    padding: 0.85714286rem 0.71428571rem 0.78571429rem;
}
html body .modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .ul-custom::before, html body .modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .ul-custom::after{
    content: '';
    clear: both;
    display: table;
}
.modal.modal-normal.modal-delivery-pickup .modal-content .modal-body .delivery-selectpicker select option{
    background: #2a2a2a;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.section.section-stores{
    background: url(../images/bg-custom-home.jpg) center no-repeat;
    background-size: cover;
    padding: 4.57142857rem 0;
}
.section.section-stores .list-stores{
    font-size: 1.14285714rem;
}
.inlineblock-top:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.section.section-stores .list-stores .list-header{
    color: #faa624;
    font-family: "roboto-bold";
    padding-bottom: 1.85714286rem;
    text-decoration: underline;
}
.section.section-stores .list-stores .list-content{
    margin-left: 0.28571429rem;
}
.inlineblock-top > *{
    display: inline-block;
    vertical-align: top;
}
.section.section-stores .list-stores .list-content .list-item{
    margin-bottom: 1.57142857rem;
}
.display-table {
    display: table;
    width: 100%;
}
.section.section-stores .list-stores .list-content .list-item .icon-item{
    color: #faa624;
    cursor: pointer;
    font-size: 1.57142857rem;
    padding-right: 1.21428571rem;
    vertical-align: top;
    width: 1.42857143rem;
}
.display-table > *{
    display: table-cell;
    vertical-align: middle;
}
.section.section-stores .map-stores, .map-delivery{
    background: #fff;
    float: right;
    -webkit-border-radius: 0.28571429rem;
    -moz-border-radius: 0.28571429rem;
    border-radius: 0.28571429rem;
    padding: 0.71428571rem;
    height: 31.14285714rem;
    width: 42.85714286rem;
}
.section.section-stores .map-stores > div , .map-delivery > div, #map-canvas{
    -webkit-border-radius: 0.28571429rem;
    -moz-border-radius: 0.28571429rem;
    border-radius: 0.28571429rem;
    height: 29.71428571rem;
    width: 41.5rem;
}
.modal-normal.modal-delivery-pickup .map-stores{
    background: #fff;
    float: right;
    margin: 2rem 0;
    -webkit-border-radius: 0.28571429rem;
    -moz-border-radius: 0.28571429rem;
    border-radius: 0.28571429rem;
    padding: 0.71428571rem;
    height: 31.14285714rem;
    width: 100%;
}
.modal-normal.modal-delivery-pickup .map-stores > div, #map-canvas{
    -webkit-border-radius: 0.28571429rem;
    -moz-border-radius: 0.28571429rem;
    border-radius: 0.28571429rem;
    height: 29.71428571rem;
    width: 43.5rem;
}
.modal-normal.modal-delivery-pickup {
    height: 100vh !important;
    overflow-y: scroll;
}
.section.section-cart{
  background: url(../images/bg-custom-your-cart.jpg) center no-repeat;
  background-size: cover;
  padding: 3.14285714rem 0 5.28571429rem;
}
.section.section-cart .container .content-cart{
  background-color: #fff;
  color: #000;
  border-radius: 0.28571429rem;
  box-shadow: 0 0.14285714rem 0.28571429rem 0 rgba(16, 72, 125, 0.1);
  max-width: 58.35714286rem;
  margin: 0 auto;
  padding: 3.71428571rem 2.14285714rem 2rem;
}
.section .title{
  font-size: 2.28571429rem;
  line-height: 1.25;
  text-transform: uppercase;
}
.section.section-cart .container .content-cart .title-cart{
  font-family: "roboto-bold";
  margin-bottom: 1.78571429rem;
}
.section.section-cart .container .content-cart .title-item{
  color: #a9aaad;
  text-transform: uppercase;
}
.section.section-cart .container .content-cart .list-items{
  margin-top: 0.92857143rem;
}
.section.section-cart .container .content-cart .list-items .order-item{
  padding-bottom: 0.92857143rem;
  border-bottom: 1px dashed rgba(151, 151, 151, 0.5);
  margin-bottom: 0.35714286rem;
}
.section.section-cart .container .content-cart .list-items .order-item .price-order{
  font-size: 1.14285714rem;
  text-align: right;
}
.section.section-cart .container .content-cart .subtotal{
  padding: 0.5rem 0 0.57142857rem;
}
.section.section-cart .container .content-cart .price-subtotal{
  font-family: "roboto-bold";
  font-size: 1.14285714rem;
  color: #151c1f;
  text-transform: uppercase;
}
.section.section-cart .container .content-cart .note-item{
  padding: 0.5rem 0 0.57142857rem;
  border-top: 1px dashed rgba(151, 151, 151, 0.5);
}
.section.section-cart .container .content-cart .note-item .note-content{
  width: 100%;
  border-radius: 0.28571429rem;
  margin-top: 0.35714286rem;
  padding: 0.35714286rem 0.71428571rem;
}
.section.section-cart .container .content-cart .discout{
  padding: 1rem 0;
  border-top: 2px dashed rgba(151, 151, 151, 0.3);
  border-bottom: 2px dashed rgba(151, 151, 151, 0.3);
  margin-bottom: 0.35714286rem;
}
.section.section-cart .container .content-cart .discout input{
  padding: 0.85714286rem 1.28571429rem;
  margin-left: 0.57142857rem;
  margin-right: 0.71428571rem;
  border-radius: 0.28571429rem;
  background-color: #e8eaef;
  color: #a9aaad;
  border: none;
  width: 13.85714286rem;
  text-align: center;
}
.section.section-cart .container .content-cart .discout input.btn-yellowlight{
  border: none;
  background-color: #fdbd35;
  color: #000000;
}
.section.section-cart .container .content-cart .total{
  font-family: "roboto-bold";
  font-size: 1.14285714rem;
}
.section.section-cart .container .content-cart .total .price{
  font-size: 1.71428571rem;
}
.section.section-cart .container .content-cart .deli-info{
  margin-top: 0.92857143rem;
  margin-bottom: 0.71428571rem;
}
.section.section-cart .container .content-cart .deli-info .title-item{
  display: inline-block;
  margin-right: 1.07142857rem;
  margin-bottom: 0.64285714rem;
}
.section.section-cart .container .content-cart .deli-info .btn{
  border: none;
  padding: 0;
  color: #c6c7bd;
  font-size: 1.57142857rem;
  background: transparent;
  margin-right: 1rem;
  line-height: 1;
}
.section.section-cart .container .content-cart .deli-info .btn .icon-edit{
  color: #6c6d5c;
  font-size: 1.42857143rem;
}
.section.section-cart .container .content-cart .deli-info .content-deli-info{
  border-radius: 4px;
  background-color: #f8f9fb;
  padding: 1rem 1.07142857rem 1.21428571rem;
  color: #a9aaad;
}
.section.section-cart .container .content-cart .deli-info .content-deli-info .display-table{
  margin-bottom: 0.42857143rem;
}
.section.section-cart .container .content-cart .deli-info .content-deli-info .display-table div{
  vertical-align: top;
  word-break: break-word;
}
.section.section-cart .container .content-cart .deli-info .content-deli-info .display-table div:first-child{
  width: 10.71428571rem;
}
.section.section-cart .container .content-cart .deli-info .content-deli-info .display-table div:last-child{
  padding-left: 1rem;
  color: #252424;
  font-family: "roboto-bold";
}
.section.section-cart .container .content-cart .payment-method{
  margin-bottom: 1.71428571rem;
}
.section.section-cart .container .content-cart .payment-method .list-payment-method{
  margin-top: 0.71428571rem;
  background-color: #f4f6f8;
  padding: 0.92857143rem 1.14285714rem 0.78571429rem;
  margin-bottom: 0.71428571rem;
}
.icheck {
  display: block;
  position: relative;
  padding-left: 2.42857143rem;
  margin-bottom: 0.85714286rem;
  cursor: pointer;
  font-size: 1rem;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section.section-cart .container .content-cart .payment-method .list-payment-method .icheck{
  margin: 0;
}
.icheck input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.payment-method .icheck .checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 1.28571429rem;
  width: 1.28571429rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #d7dbde;
}

.icheck input:checked + .checkmark{
  background: #fdbd35;
  padding: 0.35714286rem;
  text-align: center;
}
.icheck .checkmark:after{
  content: "";
  text-align: center;
  display: none;
  line-height: 1;
  background: #fff;
  height: 0.57142857rem;
  width: 0.57142857rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.icheck input:checked + .checkmark:after{
  display: block;
}
.section.section-cart .container .content-cart .payment-method .list-payment-method:last-child{
  margin-bottom: 0;
}
.btn.btn-yellowlight{
  border: none;
  background-color: #fdbd35;
  color: #000000;
}
.section.section-cart .container .content-cart .btn-your-cart{
  padding: 0.92857143rem 0.92857143rem 0.78571429rem;
}
.section.section-cart .container .content-cart .btn-your-cart span:first-child{
  margin-right: 1.21428571rem;
  position: relative;
}
.section.section-cart .container .content-cart .list-items .order-item .img-order .number{
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  top: 0.28571429rem;
  right: -0.21428571rem;
  background-color: #fdbd35;
  border-radius: 50%;
  font-family: "roboto-bold";
}
.section.section-cart .container .content-cart .list-items .order-item .btn{
  border: none;
  padding: 0;
  color: #c6c7bd;
  font-size: 1.57142857rem;
  background: transparent;
  margin-right: 1rem;
  line-height: 1;
}
.section.section-cart .container .content-cart .list-items .order-item .text-order{
  margin-top: 0.35714286rem;
}
.section.section-cart .container .content-cart .list-items .order-item .text-order > div{
  color: #a9aaad;
  font-size: 0.85714286rem;
}
.section.section-cart .container .content-cart .list-items .order-item .text-order .small-title{
  color: #000;
  display: inline-block;
  font-family: "roboto-bold";
  font-size: 1.14285714rem;
  margin-bottom: 0.14285714rem;
  margin-right: 1.07142857rem;
  line-height: 1.5;
}
.section.section-cart .container .content-cart .list-items .order-item .text-order > div{
  color: #a9aaad;
  font-size: 0.85714286rem;
}
.section.section-cart .container .content-cart .list-items .order-item .img-order{
  width: 5.71428571rem;
  margin-right: 2.14285714rem;
  position: relative;
}
.section.section-cart .container .content-cart .list-items .order-item .img-order img{
  width: 100%;
  height: auto;
}
.modal-body .h-100{
  background: none !important;
}


html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.item-addon .icheck{
  padding-left: 0;
}
.item-addon .icheck input{
  opacity: 1;
}
footer{
  /*background: url(../images/img-patten.jpg) bottom left no-repeat #000000;*/
  background-size: 100%;
  padding-top: 4.57142857rem;
  padding-bottom: 6.42857143rem;
}
footer .container ul{
  margin-bottom: 0.85714286rem;
  padding: 0;
  list-style: none;
}
html body footer .container ul::before, html body footer .container ul::after{
  content: '';
  clear: both;
  display: table;
}
footer .container ul li{
  float: left;
  width: 10.71428571rem;
  color: #fff;
}
footer .container .title{
  font-family: "roboto-bold";
  font-size: 1.14285714rem;
  margin-bottom: 1.71428571rem;
}
footer .container ul li .title{
  margin-bottom: 2rem;
}
.section-register, .section-reset-pwd, .section-my-account, .section-change-pwd, .section-address-book{
  padding: 4rem 0;
  background-image: url('../images/bg-custom-modal.png');
}
.section-register form input, .section-reset-pwd form input{
  background: transparent;
  border: solid 1px #faa624;
  border-radius: 0.42857143rem;
  color: #fff;
  font-family: "roboto-regular";
  font-size: 1.14285714rem;
  height: 3.57142857rem;
  line-height: 1;
  padding: 1.14285714rem 3.21428571rem 1rem 1.07142857rem;
  position: relative;
  text-align: left;
  width: 100%;
}
.section-register .text-center .btn-yellow, .section-reset-pwd .text-center .btn-yellow{
  font-size: 1.28571429rem;
  width: 21.42857143rem;
  margin-bottom: 1.57142857rem;
  color: #000;
  box-shadow: 0 0.35714286rem 1.42857143rem 0 #000;
  padding: 0.85714286rem 0.71428571rem 0.78571429rem;
  margin-top: 1rem;
}
.invalid-feedback{
  font-size: 1rem;
}
.section-register .resend-otp, .section-reset-pwd .resend-otp{
  font-size: 1rem;
  margin: 1rem;
  margin-bottom: 0;
}
.section-register .resend-otp span{
  margin-right: 0.5rem;
}
.form-new-pwd .form-group + .form-group{
  margin-top: 2rem;
}
.section-login{
  background-image: url('../images/bg-custom-modal.png');
}
.section-my-account .my-account-info .nav-tabs{
  border: none;
}
.section-my-account .my-account-info .nav-tabs a{
  font-family: SVN-BebasNeue;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 50%;
}
.section-my-account .my-account-info .nav-tabs a.active{
  background: transparent;
  color: #faa624;
  border: none;
  border-bottom: 2px solid #faa624;
}
.section-my-account .my-profile-info, .section-change-pwd .change-pwd-info, .section-add-address .add-address-content{
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(16, 72, 125, 0.1);
  border: solid 1px #d6dfe3;
  background-color: #ffffff;
  padding: 2.64285714286rem 5.35714285714rem 3.47142857143rem 5.35714285714rem;
  margin: 4.64285714286rem 0 8.07142857143rem 0;
}
.section-my-account .my-profile-info .avatar{
  text-align: center;
  position: relative;
}
.section-my-account .my-profile-info .avatar img.current-avatar{
  height: 8.57142857143rem;
  width: 8.57142857143rem;
  border-radius: 7.14285714286rem;
  margin-bottom: 0.71428571428rem;
}
.section-my-account .my-profile-info .upload-img{
  width: 2.5rem;
  height: 2.5rem;
  border: solid 1px #ffffff;
  background-color: #d8d8d8;
  padding: 0.35714285714rem;
  border-radius: 100px;
  position: absolute;
  bottom: 6%;
  right: 40%;
}
.section-my-account .my-profile-info .upload-img label{
  cursor: pointer;
}
.section-my-account .my-profile-info label, .section-change-pwd .change-pwd-info label , .section-add-address .add-address-content label{
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.71;
  color: #000000;
}
.section-my-account .my-profile-info input, .section-change-pwd .change-pwd-info input, .section-add-address .add-address-content input{
  border-radius: 5.5px;
  border: solid 1px #7c7c7c;
  min-height: 3.57142857143rem;
}
.section-my-account .my-profile-info .btn-yellow , .section-change-pwd .change-pwd-info .btn-yellow, .section-add-address .add-address-content .btn-yellow{
  font-size: 1rem;
  width: 17.1428571429rem;
  margin-bottom: 1.57142857rem;
  color: #000;
  padding: 0.85714286rem 0.71428571rem 0.78571429rem;
  margin-top: 1rem;
}
.my-account-dropdown .btn{
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  border: none;
}
.my-account-dropdown .btn-secondary:not(:disabled):not(.disabled).active, .my-account-dropdown .btn-secondary:not(:disabled):not(.disabled):active, .my-account-dropdown .show>.btn-secondary.dropdown-toggle{
  background: none;
  border: none;
}
.my-account-dropdown .dropdown-toggle::after{
  content: none;
}
.my-account-dropdown .dropdown .dropdown-item{
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000000;
  padding-top: 6px;
  padding-bottom: 6px;
}
.section-change-pwd .change-pwd-info{
  padding-top: 5.35714285714rem;
}
.section-change-pwd .change-pwd-info .btn-yellow{
  margin-top: 12.7142857143rem;
}
.section-address-book .address-book{
  border-radius: 6px;
  border: solid 1px #ebf0f3;
  background-color: #ffffff;
  color: #000000;
  padding: 1.42857142857rem 2.14285714286rem 1.14285714286rem 2.92857142857rem ;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.section-address-book .address-book .address-book-content .title{
  font-weight: bold;
  font-size: 1.14285714286rem;
}
.section-address-book .address-book .icon-location{
  width: 1rem;
  height: 1.28571428571rem;
  margin-right: 1.57142857143rem;
}
.section-address-book .address-book .icon-edit-address span, .section-address-book .address-book .icon-remove-address span{
  font-size: 1.14285714286rem;
  color: #000;
  cursor: pointer;
}
.section-address-book .address-book .icon-remove-address span{
  margin-left: 1rem;
}
.section-address-book .address-book .address-book-content .info-address{
  margin: 0.35714285714rem 0;
}
.section-address-book .add-new-address{
  font-size: 1.14285714286rem;
  font-weight: bold;
  line-height: 1.5;
  color: #eb9d22;
  padding: 1rem 0;
  border-radius: 6px;
  background-color: #f4f6f8;
  margin-bottom: 2rem;
}
.section-address-book .add-new-address span{
  cursor: pointer;
}
#edit_address{
  overflow: scroll;
}
.section-add-address .ul-custom > div:not(:first-child){
  width: 45%;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section-add-address .ul-custom > div:last-child{
  width: 94.5%;
}
html body .position-top + .section{
  margin-top: 5.71428571rem;
}
.section-add-address .block-title{
  margin: 0 auto;
}