@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.woff') format('woff'),
       url('Roboto-Regular.ttf') format('truetype'),
       url('Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url('roboto-regular.eot');
  src: url('roboto-regular.woff2') format('woff2'),
       url('roboto-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

