/*
Theme Name: Bss Theme
Theme URI: https://beesightsoft.com/
Author: Phuong Luong
Author URI: https://beesightsoft.com/
Description: A clean starter theme based on Bootstrap
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://beesightsoft.com/
Tags: SASS, clean, bootstrap
Text Domain: Bss_Theme
 */
/*! normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*---:[GLOBAL CSS]:---*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #faa624;
    text-decoration: none;
}
a:hover, a:visited, a:active {
    color: #faa624;
    text-decoration: underline;
}
input,input[type="submit"],button {
    border: 1px solid #C8C8C8 ;
    padding: 5px 10px;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.55em;
}
h5 {
    font-size: 1.3em;
}
table, table tr, table td {
    border: 1px solid #e7e7e7;
    padding: 8px;
}
/*---:[WEBSITE COLUMNS]:---*/
#container {
    width: 1024px;
    margin: 0 auto;
    background :#ffffff;
    border: 1px solid #D1D1D1;
    padding: 10px 25px;
}
.content {
    overflow: hidden;
}
#main-content {
    width: 620px;
    float: left;
    margin-right: 10px;
}
#sidebar {
    width: 320px;
    float: right;
    margin-left: 20px;
    padding-left: 20px;
}
@media (max-width: 575px) {
    .visible-desktop {
        display: none !important;
    }
}
@media (min-width: 576px) {
    .visible-mobi {
        display: none !important;
    }
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}


.list-product .product-item{
    padding: 20px 0;
}
.list-product .owl-stage-outer{
    overflow: visible;
}
.list-product .product-item .btn-order{
    font-size: 1.14285714rem;
    margin: 0 auto;
    padding: 0.78571429rem 0.71428571rem;
    border: 1px solid #faa624;
    background: transparent;
    color: #faa624;
    max-width: 14.28571429rem;
    display: block;
    font-weight: bold;
}
.btn:not(:disabled):not(.disabled){
    cursor: pointer;
}
.list-product .product-item .btn-order:hover{
    background-color: #faa624;
    color: #000
}

.list-product .product-item .description{
    position: absolute;
    bottom: 100%;
    padding: 1.07142857rem 1.78571429rem;
    display: none;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    width: 100%;
}

.list-product .product-item:hover .description{
    display: block;
}

@media (max-width: 767px) {
    .list-product .product-item .description{
        font-size: 0.85714286rem;
        display: block;
        color: #FFFFFF;
        background: transparent;
        position: relative;
        text-align: center;
    }
}

.list-product .product-item .description .title{
    font-size: 1.14285714rem;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: "roboto-bold";
    margin-bottom: 0;
}

.list-product .product-item .description p{
    line-height: 1.5;
}

.list-product .product-item .description:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

@media (max-width: 767px) {
    .list-product .product-item .description:after {
        display: none;
    }
}

.breadcrumb-product{
    padding: 20px 0;
}
