@font-face {
  font-family: 'SVN-BebasNeueBold';
  src: url('SVN-BebasNeueBold.woff') format('woff'),
       url('SVN-BebasNeueBold.ttf') format('truetype'),
       url('SVN-BebasNeueBold.svg#SVN-BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebasneue-bold';
  src: url('bebasneue-bold.eot');
  src: url('bebasneue-bold.woff2') format('woff2'),
       url('bebasneue-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

