@font-face {
  font-family: 'SVN-BebasNeue';
  src: url('SVN-BebasNeue.woff') format('woff'),
       url('SVN-BebasNeue.ttf') format('truetype'),
       url('SVN-BebasNeue.svg#SVN-BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebasneue-regular';
  src: url('bebasneue-regular.eot');
  src: url('bebasneue-regular.woff2') format('woff2'),
       url('bebasneue-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

