@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.ttf') format('truetype'),
       url('Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url('roboto-bold.eot');
  src: url('roboto-bold.woff2') format('woff2'),
       url('roboto-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

